*{
    margin: 0;
    padding: 0;
}
.fundo{
    background-image: linear-gradient(45deg, rgb(231, 96, 96), rgb(255, 157, 157));
    height: 100vh;
    color:black;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
}
.Calculadora{
    position:absolute;
    background-color:rgba(93, 231, 224, 0.979);
}